# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.iml
*.ipr
*.iws
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.qodo

# Environment/local files
*.local

# Help file
HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Maven
!.mvn/wrapper/maven-wrapper.jar